NODE_ENV=development
APP_NAME=BKTraffic
PORT=3000
HOST=http://localhost:3000
IMAGE_HOST=http://localhost:3000
DATABASE_URI=mongodb://localhost:27017/bktraffic
BKTRAFFIC_ANALYXER=http://localhost:8080
FACEBOOK_APP_ID=1592356364232559
FACEBOOK_APP_SECRET=80dd8a81fb45b2616ad1e77205647866
DEFAULT_ADMIN_USERNAME=admin1
DEFAULT_ADMIN_PASSWORD=@admin
APP_SECRET_KEY=bktraffic-2019
MAIL_USERNAME=
MAIL_CLIEND_ID=
MAIL_CLIEND_SECRET=
MAIL_REFRESH_TOKEN=
GROUP_PER_PAGE=20
GOOGLE_CLIENT_ID=131064076267-odh7iamsigsts5tbo9qdm9fjs7bdca03.apps.googleusercontent.com
GOOGLE_CLIENT_ID_2=131064076267-e9r50dikvdfqil0s11ocjbu238kofouc.apps.googleusercontent.com
GOOGLE_CLIENT_ID_3=131064076267-l5mfjlktr38bqu935n32ima5u7vu5b2d.apps.googleusercontent.com
GOOGLE_CLIENT_ID_4=131064076267-47lvssk4a0359tap67d058m87pugvo3i.apps.googleusercontent.com
CALCULATE_SERVER=http://localhost:3124/update-setting
DOLBY_API_KEY=xFCkf0XXsADpSAAPvfAbfYxA2XQacHlp
IMGBUCKET=licenseImg
API_KEY_APIMEDIC=o4S7Z_HCMUT_EDU_VN_AUT
SECRET_KEY_APIMEDIC=r9RPg68Aqo7W2LaXc
MICROSOFT_TRANSLATOR_KEY=b168bdb71emsh1f25ba2ebde431dp13fcc7jsn81ec5cb7f75d
