<div class="modal fade" id="modalGiftForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold" name = "nametitle">Thêm quà tặng</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/admin/gift/handle" method="Post">
      <div class="modal-body mx-3">
		    <label>Kinh độ</label>
		    <div class="form-group pass_show"> 
                <input type="number"  name="longitude" class="form-control" > 
            </div> 
            <label>Vĩ độ</label>
            <div class="form-group pass_show"> 
                    <input type="number"  name="latitude" class="form-control" > 
                </div> 
                <label>Điểm</label>
                <div class="form-group pass_show"> 
                        <input type="number"  name="point" class="form-control" > 
                    </div> 

                    <label>Số lượng</label>
                    <div class="form-group pass_show"> 
                            <input type="number"  name="amount" class="form-control" > 
                        </div> 

            <input type="hidden" name="form_submitted" value="0"/>
            <input type="hidden" name="idgift" value="0" />
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button type = "submit" name = "btnedit" class="btn btn-primary btn-sm">Xác nhận</button>
      </div>
      </form>
    </div>
  </div>
</div>